*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.main{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    padding: 10vw;
}

.container{
    width: 100%;
    display: flex;
    gap: 50px;
}

.left{
    width: 50%;
    min-height: 20%;
    /* background-color: antiquewhite; */
}

.right{
    width: 50% ;
    /* padding: 0 40px; */
    background-color: rgba(93, 123, 113, 0.619);
}

.right h3{
    padding: 3px 10px;
}

.right .added-list{
    padding: 0 30px;
    margin: 10px 0px;
    line-height: 2.5vw;
}

.list{
    width: 100%;
    height: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 227, 227, 0.873);
    padding: 20px;
    margin: 2px;
}

button{
    padding: 2px 6px;
    background-color: black;
    color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1vw;
    /* margin-left: 2% 87.5%; */
    height: 20px;
    width: 50px;
}
